.activities-section {
  width: 80%;
  margin: 10px 0;
}
.activities-list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 20vh;
  overflow-y: auto;
  flex-shrink: none;
}

.activities-section h2 {
  color: var(--header-color);
  font-size: var(--h2-size);
  text-align: center;
}
.activities-list-item {
  min-height: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.6);
}
.activities-list-item:hover {
  background-color: rgba(255, 255, 255, 1);
}
.activities-list-item button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  opacity: 0.6;
}

.activities-list-item button:hover {
  opacity: 1;
}
.task-info input[type="checkbox"] {
  cursor: pointer;
}
.task-info span {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}
