.add-activity-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background-color: white;
}
.add-activity-input {
  font-size: var(--font-size);
  padding: 10px;
  width: 75%;
  height: 30px;
  border: none;
  background-color: none;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.add-button {
  opacity: 0.6;
  font-size: var(--font-size);
  width: 15%;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.add-button:hover {
  opacity: 1;
}