.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 60vh;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 10;
  padding: 40px;
}

.header {
  color: var(--header-color);
  font-size: var(--h1-size);
}