body {
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  background-color: white;
}

.add-activity-section {
  display: flex;
  align-items: center;
}

.add-activity-input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
.add-button {
  font-size: 20px;
}
.activities-list {
  padding: 0;
}
.activities-list-item {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.activities-list-item div {
  display: flex;
  align-items: center;
  gap: 5px;

}
.activities-list-item button{
  font-size: 15px;
}
